body {
  font-family: "Roboto", sans-serif;
  color: #757575;
  font-size: 14px;
  background: #ffffff;
  font-weight: 400;
}

*:focus {
  outline: none !important;
  border: 2px solid #2196F3;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.content {
  flex: 1 1 auto;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.main__row {
  display: flex;
  height: 80px;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  color: #000000;
  letter-spacing: 0.03em;
  font-weight: 700;
}

.logo-blue {
  color: #2196F3;
}

.main__nav__row {
  display: flex;
  justify-content: space-between;
  margin: 0 320px 0 0;
  width: 281px;
}

.main__title {
  color: #212121;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-shadow: 0px 4px 4px rgba(33, 33, 33, 0.25);
}

.main__title:hover,
.main__title:focus,
.email:hover,
.email:focus,
.phone:hover,
.phone:focus {
  color: #2196F3;
}

.active {
  color: #2196F3;
}

.contact__row {
  display: flex;
  justify-content: space-between;
  width: 307px;
}

.email {
  color: #757575;
  font-weight: 500;
  letter-spacing: 0.02em;
}

.phone {
  font-family: "Roboto";
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #757575;
}

.hi-banner {
  background-color: #2F303A;
}

.hi-banner__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
}

.hi-banner-title {
  max-width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.button__submit {
  width: 216px;
  height: 50px;
  border: 0px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06em;
  background-color: #2196F3;
  color: #ffffff;
}

.button__submit:hover,
.button__submit:focus {
  background-color: yellow;
  color: #2196F3;
  cursor: pointer;
}

.to-do {
  padding: 94px 0 0 0;
}

.to-do__row {
  display: flex;
  margin: 0 -30px 0 0;
}

.to-do__body {
  margin: 0 30px 0 0;
}

.to-do__body:last-child {
  margin: 0px;
}

.to-do__title {
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin: 0 0 10px 0;
  color: #212121;
}

.to-do__text {
  line-height: 24px;
  letter-spacing: 0.03em;
}

.work-img {
  padding: 94px 0;
}

.work-img__title {
  text-align: center;
  margin: 0px 0 50px 0;
}

.title {
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
}

.work-img__row {
  display: flex;
  justify-content: space-between;
}

.work-img__img {
  max-width: 370px;
}

.team {
  background: #F5F4FA;
}

.team__title {
  padding: 94px 0 50px 0;
  text-align: center;
}

.team__row {
  display: flex;
  justify-content: space-between;
}

.team__body {
  max-width: 270px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0 0 94px 0;
  border-radius: 0 0 5px 5px;
}

.team-body__row {
  display: flex;
  flex-direction: column;
}

.name-title {
  margin: 30px 0 10px 0;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.job-title {
  margin: 0 0 30px 0;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.03em;
}

footer {
  background-color: #2F303A;
}

.footer__row {
  display: flex;
  height: 252px;
  align-items: center;
}

.fotter__title {
  margin: 0 0 20px 0;
}

.footer__text {
  margin: 0 0 9px 0;
}

.footer__text:last-child {
  margin: 0;
}

address {
  font-style: normal;
  color: #ffffff;
  letter-spacing: 0.03em;
}